/* =============== Common styles =============== */

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* =============== /Common styles =============== */

/* =============== Page header styles =============== */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu>:last-child {
    margin-right: 0;
}

.contact-menu {
    display: flex;
    gap: 40px;
}

.contact-menu>:last-child {
    margin-right: 0
}

.contact-info {
    margin-top: 24px;
    margin-bottom: 24px;
}

.page-heder-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-extra-color {
    color: #2e2f42;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

menu-link:hover,
menu-link:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.contact-info {
    font-style: normal;
}

.contact-element-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-elements-link:hover,
.contact-elements-link:focus {
    color: #404bbf;
}


/* =============== /Page header styles =============== */


/* =============== Hero section styles =============== */



.hero {
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), url(../images/hero/people-office.jpg);
    background-color: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-container {
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.hero-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    color: #fff;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, 
.hero-btn:focus {
    color: #fff;
    background-color: #404bbf;
}

/* =============== /Hero section styles =============== */


/* =============== Benefits section styles =============== */

.benefits-container-list {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 24px;
}

.benefits-item-logo {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: auto;
    padding-right: auto;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    fill: none;
    align-items: center;
    justify-content: center;
    height: 112px;
}

.benefits-container-list {
    display: flex;
    gap: 24px;
}

.benefits-item-name {
    margin-bottom: 8px;
}

.benefits-item {
    width: calc((100% - 72px)/4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* =============== /Benefits section styles =============== */

/* =============== Team section styles =============== */

.social-list {
    display: flex; 
    gap: 24px;
    justify-content: center;
}

.social-list-link {
    display: flex;
    fill: #f4f4fd;
    background-color: #4d5ae5; 
    justify-content: center;  
    align-items: center;  
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus
 {
    fill: #f4f4fd;
    background-color: #404bbf;
}

.team-list {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list-block {
    display: flex;
    gap: 24px;
}

.team-list-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.information-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-list-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% -72px)/ 4);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.team-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.team-list-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-item-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

/* =============== /Team section styles =============== */



/* =============== Portfolio section styles =============== */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-info-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: auto;
}

.portfolio-list-item-image-container {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item {
    background: #fff;
    width: calc((100% - 48px) / 3);
}

.portfolio-list-item-image-container:hover .information-overlay-text {
    transform: translate(0%);
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 72px;
}

.portfolio-list-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-left: 16px;
    margin-bottom: 8px;
}

.portfolio-list-item-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 16px;
}

.information-overlay {
    background-color: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.information-overlay-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 296px;
    margin-top: 40px;
    margin-right: 32px;
    margin-bottom: 164px;
    margin-left: 32px;
}

/* =============== /Portfolio section styles =============== */


/* =============== Page footer styles =============== */

.page-footer-container {
    display: flex;
    align-items: baseline;
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-footer-logo-container {
    margin-right: 120px;
}

.footer-social-list-link {
    display: flex;
    fill: #f4f4fd;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-social-list-link:hover,
.footer-social-list-link:focus {
    fill: #f4f4fd;
    background-color: #31d0aa;
}

.footer-social-list-box {
    display: flex;
    flex-direction: column;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}


.footer-social-logo-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.page-footer {
    background-color: #2e2f42;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-extra-color {
    color: #f4f4fd;
}

.footer-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

/* =============== /Page footer styles =============== */
