/* =============== Common styles =============== */

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* =============== /Common styles =============== */

/* =============== Page header styles =============== */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu>:last-child {
    margin-right: 0
}

.contact-menu {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contact-menu>:last-child {
    margin-right: 0
}

.page-heder-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-extra-color {
    color: #2e2f42;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.contact-info {
    font-style: normal;
}

.contact-element-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-elements-link:hover,
.contact-elements-link:focus {
    color: #404bbf;
}



/* =============== /Page header styles =============== */


/* =============== Hero section styles =============== */



.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.hero-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    color: #fff;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-btn:hover, .hero-btn:focus {
    color: #fff;
    background-color: #404bbf;
}

/* =============== /Hero section styles =============== */


/* =============== Benefits section styles =============== */

.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-container-list {
    display: flex;
    gap: 24px;
}

.benefits-container-list>:last-child{
margin-right: 0
}

.benefits-item-name {
    margin-bottom: 8px;
}

.benefits-item {
    width: calc((100% - 72px)/4);
}

.benefits-container {
    display: flex;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* =============== /Benefits section styles =============== */

/* =============== Team section styles =============== */

.team-list {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list-block {
    display: flex;
    gap: 24px;
}

.information-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-list-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% -72px)/ 4);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.team-list-item-image {
    margin-bottom: 32px;
}

.team-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.team-list-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-item-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 32px;
}

/* =============== /Team section styles =============== */



/* =============== Portfolio section styles =============== */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-info-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.portfolio-list-item-image {
    padding-bottom: 32px;
}

.portfolio-list-item {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    background: #fff;
    width: calc((100% - 48px) / 3);
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 72px;
}

.portfolio-list-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-left: 16px;
    margin-bottom: 8px;
}

.portfolio-list-item-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 16px;
    margin-bottom: 32px;
}

/* =============== /Portfolio section styles =============== */


/* =============== Page footer styles =============== */

.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    margin-left: 56px;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-extra-color {
    color: #f4f4fd;
}

.footer-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    margin-left: 56px;
    max-width: 264px;
}
/* =============== /Page footer styles =============== */
